.expense-chart-container {
  /* max-height: 222px; */
  background: #FFFFFF;
  border-radius: 15px;
}

.expense-chart-container .recharts-wrapper {
  position: static !important;
  overflow: hidden; 
}
.recharts-cartesian-axis-line{
  display: none;
}
.recharts-cartesian-axis-tick-line{
  display: none;
}
.recharts-bar-rectangle{
  border-radius: 0 20px 20px 0;
}
.expenseBarChart-msg{
  color: black;
  text-align: center;
  padding: 28px;
}